<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dodaj grupę</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
<div class="row">
    <div class="col-sm-8">
        <h1>Dodaj grupę</h1>
        <form th:object="${group}" id="groupForm">
            <div class="form-row">
                <div class="col">
                    <input type="text" th:field="*{groupName}" id="groupName" class="form-control" placeholder="Group name" />
                </div>
            </div>
            <small id="downText" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-4"><p th:text="'Ilość grup: ' + ${groupsAmount}"></p></div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    (function($){
        function processForm( e ){
            $.ajax({
                url: '/api/groups',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify( { "groupName": $('#groupName').val()} ),
                success: function(data){
                    if (confirm("Group added!")){
                        $('#groupForm')[0].reset();
                        window.location.reload();
                    }
                },
                error: function(errorThrown){
                    console.log(errorThrown);
                }
            });

            e.preventDefault();
        }

        $('#groupForm').submit(processForm);
    })(jQuery);
</script>
</body>
</html>