<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
<div class="row">
    <div class="col-sm-8">
        <h1>Hello World!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla,
            sapien sed luctus consectetur, lorem diam blandit felis, eget mattis enim augue et sem.
            Proin ullamcorper mauris quis lorem facilisis, eu fermentum lorem imperdiet.
            Nullam ut tincidunt massa. Nulla nec elit congue, luctus justo molestie, posuere purus.
            Pellentesque dignissim pellentesque pellentesque. Fusce tincidunt, libero sed congue viverra,
            sem est placerat risus, in ullamcorper leo dui a tortor. Sed ultrices a libero et ultricies.
            Nam non lacus eu magna rutrum pharetra. Sed consectetur, enim vel sollicitudin pretium,
            mi tortor tristique urna, non ornare ex nulla at lorem. Suspendisse posuere tempus ex eu fringilla.
            Nam vehicula mi eu leo blandit tristique. </p>
    </div>
    <div class="col-sm-4">
        <h3>Statystyki</h3>
        <p th:text="'Ilość studentów: ' + ${studentsAmount}"></p>
        <p th:text="'Ilość grup: ' + ${groupsAmount}"></p>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"/>
</body>
</html>