<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Modyfikacja grup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Modyfikacja grup</h1>
            <div id="accordion" role="tablist">
                <ul class="list-group" >
                    <div th:each="group : ${groupList}">
                        <li class="list-group-item d-flex justify-content-between align-items-center" role="tab" th:id="'heading' + ${group.id}">
                            <p th:text="${group.groupName}" th:remove="tag"></p>
                            <div class="float-right">
                            <a th:href="@{/modify-group/delete/} + ${group.id}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                            <a th:href="@{/modify-group/modify/} + ${group.id}"><button type="button" class="btn btn-outline-success">Modify</button></a>
                            <span class="badge badge-primary badge-pill" th:text="${#lists.size(group.students)}">countStudents</span>
                                <a class="collapsed" data-toggle="collapse" th:href="'#collapse' + ${group.id}" aria-expanded="false" th:aria-controls="'collapse' + ${group.id}">
                                    <button type="button" class="btn btn-outline-info">
                                        Collapse
                                    </button>
                                </a>
                            </div>
                        </li>
                    <div th:id="'collapse' + ${group.id}" class="collapse" role="tabpanel" aria-labelledby="'heading' + ${group.id}" data-parent="#accordion">
                        <div>
                            <ul class="list-group">
                                <li th:each="student : ${group.students}" class="list-group-item" th:text="${student.firstName} + ' ' + ${student.lastName}">Cras justo odio</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="col-sm-4"> :) </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>